.Banner {
  display: flex;
  width: 80%;
  margin: auto;
}

.Banner h2 {
  font-family: serif;
  font-size: 45px;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 2px;
}

.Banner p {
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
}

.banner-left {
  width: 50%;
}

.banner-right {
  background-image: url(http://68.media.tumblr.com/bd9c40368eed9d1d994bfc716aafec48/tumblr_inline_ocdletfMwY1sse7kl_500.png);
  background-position: center;
  background-size: cover;
  width: 50%;
}

.button-holder {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 715px) {
  .Banner {
    margin: auto;
    text-align: center;
    height: 408px;
  }
  
  .banner-left {
    min-width: 350px;
    width: 80%;
    text-align: center;
    display: block;
  }

  .banner-right {
    min-width: 350px;
    width: 80%;
    position: absolute;
    left: 50;
    height: 350px;
    opacity: .2;
  }
}
